

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.skills {
  list-style: none;
  padding: 0;
 
}

.skills li {
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  border-radius: 25px;
  overflow: hidden;
  height: 36px;
}
.p_skills{
  color: aliceblue;
}

.skills p {
  color: aliceblue;
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.collapsed .skills li {
  width: 0;
  transition: width 2s ease;
}

.skills li {
  transition: width 2s ease;
}

.skills_name{
  font-size: 24px;
  padding: 10px;
}